<div class="container">
    <Header />
</div>

<script>
import Header from './components/Header.svelte';
</script>

<style>
.container {
    --sides: 25vw;
    margin-left: var(--sides);
    margin-right: var(--sides);
    height: 100%;
}

/* 
 * media queries are awesome. I had a joy writing this one. 
 */
@media (max-width: 768px) {
    .container {
        --sides: 1em;
    }        
}   
</style>
