<script>
import Section from './Section.svelte';
</script>

<Section>
    <header>
        <h1>Hi!</h1>
        <h1>My name is Michael.</h1>
        <p class="small-fancy-text">Work in progress &middot; More soon</p>
    </header>
</Section>

<style>
header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
}

h1 { 
    font-size: 5em;
    margin: 0;
}

.small-fancy-text {
    color: gray;
    font-weight: bold;
    text-transform: uppercase;
}
</style>
